<app-header></app-header>
      <div class="welcome py-1">
        <div class="container py-xl-1 py-lg-1" id="services">
            <div class="row">
                <div class="col-lg-5 welcome-left">
                    <h3 class="title-w3ls mt-2 mb-3">Services provided by EMS</h3>

                    <p class="mt-4 pr-lg-5">Employee management refers to the processes used to ensure employees perform their best. It consists of keeping track of employees’ achievements and progress, fostering healthy professional relationships and giving them the tools they need to succeed. Done right, employees will be motivated to fulfill the organization’s objectives. It can also lead to a boost in employee productivity, satisfaction, retention and engagement.
                    </p>
                </div>
                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-sm-4 service-1-w3pvt serve-gd1">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-users s1"></span>
                                <p class="mt-2">Reduces Paperwork
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd2">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-handshake-o s2"></span>
                                <p class="mt-2">Trust Employees
                                </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-home s3"></span>
                                <p class="mt-2">Constructive Feedback </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd3">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-car s4"></span>
                                <p class="mt-2">Tools and Software</p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-stethoscope s5"></span>
                                <p class="text-li mt-2">Rippling</p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-graduation-cap s6"></span>
                                <p class="mt-2">Paycor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>