
<div class="toggled" id="wrapper" >
    <aside>
      <div class="sidebar left sidebar-nav" id="sidebar-wrapper">
        <div class="user-panel">
        
        <ul class="list-sidebar bg-defoult">
          
          <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" routerLink="/onboard/view"><i class="fa fa-user-circle-o"> </i> <span class="nav-label"> Onboard </span> </a></li>
        <li> <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active" routerLink="/empevaluation"> <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Evalution</span></a>
      </li>
      <li> <a  data-toggle="collapse" class="collapsed active" routerLink="/feedbackList"><i class="fa fa-laptop"></i> <span class="nav-label" routerLink="/feedbackList" >Feedback</span></a> </li>
      <li> <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active" ><i class="fa fa-table"></i> <span class="nav-label">Report</span></a>
    </li>
  </ul>
  </div>
  </div>
  </aside></div>
  
  
  
  
  