<!-- <div class="sidebar">
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu"><b>Menu</b>
            <li class="nav-item">
                <a href="onboard/add" class="nav-link text-truncate">
                    <span class="ms-2 d-none d-sm-inline">Add Employee</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="onboard/view" class="nav-link text-truncate">
                    <span class="ms-2 d-none d-sm-inline">View Employee</span>
                </a>
            </li>
        </ul>
    </div>
    </div> -->